<div  id="popup-confirm" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="popup-title" class="modal-title"></h4>
            </div>
            <div id="popup-body" class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn purple " id="popup-sbmt"><i class="icon-ok"></i> Confirm</button>
                <button type="button" onclick="$('#popup-confirm').bPopup().close();" class="btn default">Cancel</button>
            </div>
        </div>
    </div>
</div>
 