<div id="popup-alert" style="display: none; ">
    <div class="modal-dialog">
        <div class="form-actions">
            <h3 class="form-title" id="popup-title" style="font-size: 20px;text-align: center;"></h3>
            <div class="form-actions">
                <button id="popup-alert-btn-ok" onclick="$('#popup-alert').bPopup().close();" type="submit" class="bCloce btn purple pull-right" style="margin-right: 10px;">
                    <i class="icon-cancel"></i> OK
                </button>
            </div>
        </div>
    </div>
</div>
